<div class="container">
  <h2>User Login</h2>

  <% if @errors %>
     <div class="error_container">
         <p><strong> There is a problem</strong></p>
         <% @errors.each do |error| %>
           <p><%= error %></p>
         <% end %>
     </div>
  <% end %>

    <%= form_for :session, url: {action: "create"} do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %><br>
      <%= f.label :password %>
      <%= f.text_area :password %>
      <%= f.submit "Login" %>
    <% end %>

</div>
